@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@media screen and (min-width: 993px) {
    body{
        height: 100vh;
        width: 99vw;
    }

    html{
        max-width: 100%;
    }

    div#cabeçalho{
        background-image: url(../imagens/ju.webp);
        margin-bottom: 10px;
    }

    header > h1{
        display:block;
        position: absolute;
        margin-left: 50%;
        margin-top: 50%;
        margin-top: 100px;
        font-size: 100px;
        font-family:"Playfair Display", serif;
        font-weight: 700;
        letter-spacing: 15px;
        color: #4c445a;
        text-shadow: 1px 1px 10px rgba(19, 19, 19, 0.589);
        transform: translate(-50%, -50%)
    }

    #menu{
        display: block;
        text-align: center;   
    }

    #menu > ul > li{
        display: inline-block;
        margin-left: auto;
    }

    main{
        width: 700px;
        height: 600px;
        margin: auto;
        background-color: white;
        margin-top: 10px;
        border-radius: 10px;
        margin-bottom: 7px;
        background-image: url(../imagens/fundo-ju.jpeg);
        padding: 4px;
    }

    main > p{
        line-height: 40px;
    }

    i#burguer{
        display: none;
    }

}