@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Cantata One", serif;
}
    
body, html{
    width:  98vw;
    height: 100vh;
    background-color: #F0E6EF;
}

div#cabeçalho{
    background: url(../imagens/jubiju.png) no-repeat;
    height: 240px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    margin-bottom: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.500);
}

header > h1{
    display:none
}

main > p{
    text-indent: 15px;
    padding: 15px;
    text-align: justify;
    font-size: 16px;
}

main{
    height: 571px;
}

i#burguer{
    display: block;
    text-align: center;    
    background-color: #b09dd1;
    padding: 5px;
    cursor: pointer;
}

i#burguer:hover{
    background-color: #aaa3a9;
}

menu{
    display: none;
}

#menu > ul > li{
    list-style-type: none;
    
    border: 2px solid #695e7c;
    border-radius: 5px;
    padding: 7px;
    margin-left: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.493);
}

menu > ul > li > a{
    color: #7a6d8f;
    text-decoration: none;
}

#menu > ul > li:hover{
    background-color: #7a6d8f48;
}

main > p{
    line-height: 30px;
}

footer{
    background-color: #9C89B8;
    padding: 5px;
    font-size: 1.2em;
    text-align: center;
   
}

footer a{
    color: white;
    text-decoration: none;
    text-align: center;
    font: bolder;
}